[Unit]
Description=NEPI GPSD Launch
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
ExecStart=/opt/nepi/ros/lib/nepi_mgr_nav_pose/gpsd -S 3322 udp://0.0.0.0:29470
Restart=no

[Install]
WantedBy=multi-user.target
